This tutorial is an exercise in self-assessment of your X knowledge. It contains examples of how to perform a variety of tasks. The proposed examples can not be exhaustive I strongly recommend that you ask yourself how to perform each of these examples in general. And not to limit yourself to answer the questions. The proposed solutions are only one possibility among others and do not pretend to be the most efficient way to solve these exercises

## Data transformation

#### Install and load a package

In [ ]:
library(tidyverse)

#### Upload CSV provided for this session, and load it.

Note : You should be able to load data from various format text, excel, SAS or Stata file.

Note2 : If your file cannot be parsed, check the delimiter/separator between attributes' values in the provided csv file and update the delimiter argument passed to the reading function

#### Get datatype of each column

#### Quickly check what your data look like

### Subset data by row (get distinct row or row matching a condition)

#### Select only patients from IsÃ¨re department (38)

Note: the department attribute may not be in a numeric format

#### Select male patients with BMI > 30, and either older than 45 years or with heart failure

### Subset data by column

#### Create a new dataframe with only ATC and SYM column

### Summarize one, multiple or all column

#### Display the descriptive statistics of one column

#### Display the descriptive statistics of multiple columns

#### Display the descriptive statistics of all columns

### Get mean, median or count for one or more column group by another column

#### Mean

#### Median

#### Count

### Order a data by one or more column and in descending order

#### One column in ascending order

#### Multiple columns in descending order

### Compute the cumulative sum of each column and the difference between consecutive rows.### Create new column for example cumulative sum of previous columns, offset elements of previous column by 1, distance between two columns.

#### Compute the cumlative sum of all possible columns

#### Subtract the age of the patient in the previous row from the age of each patient

### Join two or more tables (by their Id for example)

#### Create a dataframe with 15 numbers randomly chosen between 1 and 100

#### Find all the lines whose department appears in the previously generated values

### Handle missing value (remove all missing value, or replace it)

#### Remove all rows with missing values

#### Replace missing data in all the numeric columns with the median value of the subset having the same daytime sleepiness ("SYM_somnolenceDiurne")

#### Have all missing values been imputed ? If not, why ?

### Reshape data from wide to long

#### Unpivot the dataset to long format with an 'id', a 'Labels' and a  'Values' columns

#### Unpivot columns starting with 'ATC_' to long format with an 'id', a 'Labels' and a  'Values' columns

## Data visualization

Note : You must be able to choose the right plot depending on data type (continuous, discrete).

### Plot the distribution of BIO_cholesterolemieTotale

### Plot the descriptive statistics of CHA_BMI and SYM_echelleEpworth side by side

### Plot BIO_cholesterolemieTotale against CHA_BMI with colors depending on CHA_id_sexe_P

## Basic Programming skills

#### Iterate through some data structure using a loop (For or While)

In solution i print dataframe column names

#### Test a condition using IF statement

Using a and b vectors below print a statment if a is greater than b and another if a is lesser than b and a third statment if a equals b.

#### Create a simple function which determines the root of a number

### Basic string manipulation (e.g.: detect a string containing a specific substring or remove part of a string)

#### Lower the strings in column classe_atc_1

#### In column classe_atc_1, find all the rows containing "," or "et"

#### Among the drugs listed, some belong to a class of antihypertensive drugs called sartans. All sartans end with "sartan", e.g. candesartan. Remove all words ending by sartans.

#### Save your results in a CSV file or other format.